<h1>Story generator/h1>


<%= form_for :story do |f| %>
<h2>Title: Make writing novels great again.</h2>

<ul>
  <li>
  </li>
    <div>
      <h2>Placeholder Person 1<h2>
      <p>Some random Attributes</p>
      <p>And some more</p>
      <p>and some more</p>
    </div>
  <li>
    <div>
      <h2>Placeholder Person 1<h2>
        <p>Some random Attributes</p>
        <p>And some more</p>
        <p>and some more</p>
    </div>
  </li>
  <li>
    <div>
      <h2>Placeholder Person 3<h2>
        <p>Some random Attributes</p>
        <p>And some more</p>
        <p>and some more</p>
        <p>and some more</p>
    </div>
  </li>
</ul>
<p>
  <%= f.submit %>
</p>
<% end %>
