<div class="mainContainer">
  <h1>Titelgenerator</h1>
  <div name="mainTitleContainer"><%= maintitle %></div>
  <div class="oldTitles">
    <h2>Ältere Titel</h2>
    <ul>
      <li><%= oldtitle[0] %></li>
      <li><%= oldtitle[1] %></li>
      <li><%= oldtitle[2] %></li>
    </ul>
  </div>
  <div id="createNew" class='button'>
    Create New
  </div>
</div>
