<h1>Person Generator</h1>
<div>
  <form>
  Name: <input type="text" name="name" value=""></br>
    Age:  <input type="text" name="age" value=""></br>
    Gender: <input type="text" name="gender" value=""></br>
    Job:  <input type="text" name="job" value=""></br>
    Skin color:<input type="text" name="skinColor" value=""></br>
    Hair length <input type="text" name="hair" value=""></br>
    Spesial:<input type="text" name="special" value=""></br>

    Positive characteristics <br>
    <input type="checkbox" name="optionOne" value="yes" checked> 
    option 1 <br>
      <input type="checkbox" name="optionTwo" value="no" > option 2<br>
      <input type="checkbox" name="optionThree" value="no" > option 3<br>
    Negative characteristics <br>
    <input type="checkbox" name="optionOne" value="yes" checked> 
    option 1 <br>
      <input type="checkbox" name="optionTwo" value="no" > option 2<br>
      <input type="checkbox" name="optionThree" value="no" > option 3<br>

  <input type="submit" value="Create a new person">

  </form>
</div>